<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<body>
<table border="1" >
    <thead>
    <tr>
        <td>Id</td>
        <td>First name</td>
        <td>Surname</td>
        <td>Age</td>
    </tr>
    </thead>
    <tbody>
        <tr th:each="user, iterStat : ${userList}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.name}"></td>
            <td th:text="${user.surname}"></td>
            <td th:text="${user.age}"></td>
        </tr>
    </tbody>
</table>

<a th:value="xls" th:name="type" href="/report/?type=xls">Download Excel</a>
<a th:value="pdf" th:name="type" href="/report/?type=pdf">Download Pdf</a>

</body>
</body>
</html>